* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #777777;
}

body {
  background-image: url("../images/background-ripples.png");
}

.header {
  border-bottom: 2px solid #cccccc;
}

.header,
.main {
  background-color: #ffffff;
}

h1 {
  background-color: #4aaaa5;
  color: #ffffff;
  margin-bottom: 0;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.nav-link {
  color: #777777;
  line-height: 1;
  padding: 0 1rem;
}

.nav-item:nth-child(2) .nav-link {
  border-left: solid 1px;
  border-right: solid 1px;
  border-color: #cccccc;
}

.my-picture {
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .my-picture {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .my-picture {
    max-width: 33%;
  }
}

@media (min-width: 1200px) {
  .my-picture {
    max-width: 25%;
  }
}
